<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />	
  </packageRestore>
  <packageSources>
    <add key="simaira-digital" value="https://pkgs.dev.azure.com/abhishekjob/_packaging/Simaira-Digital/nuget/v3/index.json" />
  </packageSources>
   <packageSourceCredentials>
    <simaira-digital>
      <add key="Username" value="Simaira-Digital" />
      <add key="ClearTextPassword" value="3jbq2lpud23i3u7soqylum6ccme6w57nxbfof36er5ern3opjmpq" />
    </simaira-digital>
  </packageSourceCredentials>
</configuration>
 
